@import "../../styles/common";

.quantity {
  display: flex;
  padding-left: 20px;
  .value{
    padding-top: 4px;
    padding-right: 9px;
  }
  .action {
    display: block;
    cursor: pointer;
  }
}

.emptyCart{
    text-align: center;
    padding-top: 129px;
    p:first-of-type{
    font-weight: 600;
    }
    p:last-of-type{
   color: $gray_1;
    }
}
