@import "../../styles/common";

.submitButton {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
 
}
.skyBackground {
    background-color: $sky;
    color: $white !important;
  }

  .withoutBackground {
    color: $sky !important;
    border-color: $sky !important;
  }