@import "../../styles/common";

.card {
  background-color: $white;
  border-radius: $border-radius;
  margin-bottom: 10px;
  padding-bottom: 1px;
  .containImg{
    text-align: center;
  .mainImg {
    padding: 30px;
    width: 100%;width: auto;
  }
}
  .content {
    height: 140px;
    color: $white;
    margin: 4px;
    border-radius: $border-radius;
    padding: 1px 8px;
  }

  .red {
    background-color: $red;
  }
  .blue {
    background-color: $blue;
  }
  .green {
    background-color: $green;
  }
  .yellow_2 {
    background-color: $yellow_2;
  }
  .priceOptions {
    @include flex($justify: space-between, $align: baseline);
    .options {
      span {
        background-color: $black_1;
      }
    }
  }
}
